<style type="text/css">

/* reset whitespace */
* { 
	margin:0;
	padding:0;
}


/* /////////////////////////////////
	@FONT-FACE
///////////////////////////////// */

@font-face {
    font-family: 'MuseoSlabLight';
    src: url('images/museo_slab_100-webfont.eot');
    src: url('images/museo_slab_100-webfont.eot?#iefix') format('embedded-opentype'),
         url('images/museo_slab_100-webfont.woff') format('woff'),
         url('images/museo_slab_100-webfont.ttf') format('truetype'),
         url('images/museo_slab_100-webfont.svg#museo_slab100') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MuseoSlab';
    src: url('images/museo_slab_300-webfont.eot');
    src: url('images/museo_slab_300-webfont.eot?#iefix') format('embedded-opentype'),
         url('images/museo_slab_300-webfont.woff') format('woff'),
         url('images/museo_slab_300-webfont.ttf') format('truetype'),
         url('images/museo_slab_300-webfont.svg#MuseoSlab') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSlab';
    src: url('images/museo_slab_300italic-webfont.eot');
    src: url('images/museo_slab_300italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('images/museo_slab_300italic-webfont.woff') format('woff'),
         url('images/museo_slab_300italic-webfont.ttf') format('truetype'),
         url('images/museo_slab_300italic-webfont.svg#museo_slab300_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'MuseoSlab';
    src: url('images/museo_slab_500-webfont.eot');
    src: url('images/museo_slab_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('images/museo_slab_500-webfont.woff') format('woff'),
         url('images/museo_slab_500-webfont.ttf') format('truetype'),
         url('images/museo_slab_500-webfont.svg#MuseoSlab') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('images/museosans_300-webfont.eot');
    src: url('images/museosans_300-webfont.eot?#iefix') format('embedded-opentype'),
         url('images/museosans_300-webfont.woff') format('woff'),
         url('images/museosans_300-webfont.ttf') format('truetype'),
         url('images/museosans_300-webfont.svg#MuseoSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('images/museosans_300_italic-webfont.eot');
    src: url('images/museosans_300_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('images/museosans_300_italic-webfont.woff') format('woff'),
         url('images/museosans_300_italic-webfont.ttf') format('truetype'),
         url('images/museosans_300_italic-webfont.svg#MuseoSans') format('svg');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'MuseoSans';
    src: url('images/museosans_500-webfont.eot');
    src: url('images/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('images/museosans_500-webfont.woff') format('woff'),
         url('images/museosans_500-webfont.ttf') format('truetype'),
         url('images/museosans_500-webfont.svg#MuseoSans') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('images/museosans_500_italic-webfont.eot');
    src: url('images/museosans_500_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('images/museosans_500_italic-webfont.woff') format('woff'),
         url('images/museosans_500_italic-webfont.ttf') format('truetype'),
         url('images/museosans_500_italic-webfont.svg#MuseoSans') format('svg');
    font-weight: bold;
    font-style: italic;
}


@font-face {
    font-family: 'MuseoSansBold';
    src: url('images/museosans_900-webfont.eot');
    src: url('images/museosans_900-webfont.eot?#iefix') format('embedded-opentype'),
         url('images/museosans_900-webfont.woff') format('woff'),
         url('images/museosans_900-webfont.ttf') format('truetype'),
         url('images/museosans_900-webfont.svg#MuseoSansBold') format('svg');
    font-weight: bold;
    font-style: normal;

}



/* /////////////////////////////////
	Formsite Forms
///////////////////////////////// */


body {
	font: normal 14px/20px MuseoSans, arial, sans-serif;
	color: #666;
	background: #fbf8f1;
	margin: 0;
	padding: 0;
}

.form_table {
    background: #fbf8f1;
    border: 0;
    color: #666;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
}

.form_table a,
.form_table a:visited{
	color: #59ae35;
	text-decoration: underline;
}

.outside a,
.outside a:visited{
	color: #59ae35;
	text-decoration: underline;
}

.form_shadow_top,
.form_shadow_bottom {
	display: none !important;
}

.segment_header {
	display: block;
	margin: 0;
	padding: 30px 0 1px 0 !important;
	color: #333 !important;
	background: #fff !important;
	width: auto;
	font-family: MuseoSlab, arial, sans-serif;
	font-weight: bold; 
	font-size: 22px;
	line-height: 26px;
	border-top: 4px solid #faf8f1;
}

.segment_header h1 {
	text-align: left !important;
	font-family: MuseoSlab, arial, sans-serif !important;
	font-weight: bold !important; 
	font-size: 22px !important;
	line-height: 26px !important;
	margin-bottom: 20px !important;
	color: #333 !important;
	font-weight: bold !important;
}

.q {
	padding: 15px 20px 15px 20px;
	margin-bottom: 0;
	margin-left: 0;
	float: left;
	display: block;
}

.full_width,
.full_width_space {
	margin: 0;
	padding-left: 20px;
	padding-right: 20px;
}

.full_width_space {
	padding-top: 10px;
	padding-bottom: 5px;
}

.q .question {
	font-weight: bold;
	color: #333;
	margin-bottom: 6px;
	font: normal 12px/14px MuseoSansBold, arial, sans-serif;
	text-transform: uppercase;
}

.q .question.left_question_first {
    display: block;
    float: left;
    width: 160px;
    padding-top: 5px;
    padding-right: 15px;
    text-align: right;
}

.q .full_width_space strong {
	color: #333;
	margin: 10px 0 -10px 0;
	font: bold 15px/22px MuseoSlab, arial, sans-serif;
}


.q .left_question_first{
	width: 15em;
}

.required .icon{
	background-image: none;
	background-position: left;
	background-repeat: no-repeat;
	font-size: 13px;
	padding-left: 14px;
}

.q input,
.q .text_field,
.q .file_upload,
.q .drop_down {
	font: normal 14px/20px MuseoSans, arial, sans-serif;
	border: 0;
	color: #333;
	margin: 0;
	padding: 4px 10px;
	background: #FFFFFF ;
	border-radius: 0;
	margin-right: 6px;
}

.q .text_field {
	width: 90%;
	max-width: 90%;
}

.q .text_field.hasDatepicker {
	width: auto;
	max-width: auto;
}

.q .file_upload_button{
	margin-top: 2px;
}

.q .inline_grid td{
	padding: 5px;
	vertical-align: baseline;
}

.q .matrix th{
	color: #000000;
	background: #EEEEEE;
	padding: 5px;
	font-weight: normal;
	text-align: center;
	vertical-align: bottom;
}

.q .matrix td{
	padding: 5px;
	text-align: center;
	white-space: nowrap;
	height: 26px;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
}

.q .matrix td.question{
	border-right: 1px solid #CCCCCC;
	font-weight: normal;
}

.q .matrix .multi_scale_sub th{
	font-weight: normal;
	border-top: 1px solid #CCCCCC !important;
	background: #FFFFFF;
}

.q .matrix .multi_scale_break{
	border-right: 1px solid #CCCCCC;
}

.q .matrix_row_dark td{
	color: #000000;
	background: #F7F7F7;
}

.q .matrix_row_dark td.question{
	color: #000000;
	background: #EEEEEE;
}

.q .matrix_row_light td{
	color: #000000;
	background: #FFFFFF;
}

.q .matrix_row_light td.question{
	color: #000000;
	background: #F7F7F7;
}

.q .rating_ranking td{
	padding: 5px;
}

.q .scroller{
	border: 1px solid #CCCCCC;
}

.highlight{
	background: #fbf8f1 !important;
	-moz-transition: background-color .25s ease-out;
	-webkit-transition: background-color .25s ease-out;
	transition: background-color .25s ease-out;
}

tr.highlight td{
	background: #CCCCCC !important;
}

.outside{
	color: #000000;
}

.outside_container{
	width: auto;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	color: #000000;
}

.outside_container .submit_button{
	text-decoration: none;
	display: inline-block;
	padding: 7px 20px 5px;
	margin: 0;
	border: 0;
	outline: none;
	font: bold 14px/22px MuseoSansBold, arial, sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #fff;
	background: #0179be;
	border-bottom: 4px solid #1398cc;
	float: left;
	
	-webkit-transition: all .1s ease;	
	-moz-transition: all .1s ease;			
	-o-transition: all .1s ease;						
	transition: all .1s ease;
}

.outside_container .submit_button:hover{
	color: #fff;
	background: #f6bd27;
	border-color: #f1a718;
	text-decoration: none;
	cursor: pointer;
	
	-webkit-transition: all .1s ease;	
	-moz-transition: all .1s ease;			
	-o-transition: all .1s ease;						
	transition: all .1s ease;
}

.outside_container .progress_bar{
	background: url(/images/forms/gradients/blue_tall.png);
	margin: 0;
}

.ui-widget{
	font-family: Lucida Grande,Tahoma,Arial,sans-serif;
}

.invalid{
	background: #fff1d4;
}

.invalid .invalid_message {
	color: #f1a718 !important;
	background: transparent !important;
	border: 0 !important;
	border-radius: 0 !important;
	font-weight: bold !important;
	font-size: 11px !important;
    padding: 4px 0 0 0;
    margin: 0 0 -5px 0;
}

.form_table.invalid {
	border: 0 !important;
}

.form_table.invalid .invalid_message {
	background: #f1a718 !important;
	color: #fff !important;
	border: 0 !important;
	font-size: 15px !important;
	padding: 6px 10px !important;
	font-weight: bold !important;
	margin: 0 !important;
}

.invalid .matrix .invalid_row{
	background: #FFEEEE;
}

/* /////////////////////////////////
	Success Pages
///////////////////////////////// */

/* /////////////////////////////////
	TABLES
///////////////////////////////// */

table {
	margin: 0 0 40px 0;
	border: 0;
}

.tablepress tbody {
	-webkit-box-shadow: inset 0 0 0 4px #faf8f1;	
	-moz-box-shadow: inset 0 0 0 4px #faf8f1;	
	box-shadow: inset 0 0 0 4px #faf8f1;
}

td {
	min-width: 100px;
	padding: 10px;
}

td strong {
	color: #333;
}


th {
	background-color: #0179be;
	border-top: 5px solid #159bcd;
	color: #fff;
	font-family: MuseoSansBold;
	font-weight: normal;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 8px 20px;
}



</style>